/* 
    ===========================

    ----- Design System -----

    ===========================
*/ 


:root {
    /* colors */

    --black: hsla(240, 67%, 8%, 1);
    --white: #FFFFFF;
    --dark-gray: hsla(240, 17%, 26%, 1);
    --light-gray: hsla(240, 6%, 54%, 1);
    --border-color: hsla(0, 0%, 100%, .2);

    --mercury: hsla(194, 48%, 49%, 1);
    --venus: hsla(33, 82%, 61%, 1);
    --earth: hsla(263, 67%, 51%, 1);
    --mars: hsla(10, 63%, 51%, 1);
    --jupiter: hsla(2, 68%, 53%, 1);
    --saturn: hsla(17, 73%, 46%, 1);
    --uranus: hsla(169, 73%, 44%, 1);
    --neptune: hsla(222, 87%, 56%, 1);


    /* typography */

    --font-titles: 'Antonio', sans-serif;
    --font-texts: 'League Spartan', sans-serif; 


    /* media queries */

    --break-tablet: 768px;
    --break-desktop: 1440px;
}


/* 
    ============================

    ----- General settings -----

    ============================
*/ 


body {
    background-color: var(--black);
    background-image: url('../public/resources/background-stars.svg');
    background-size: contain;
}

h1, 
h2 {
    font-family: var(--font-titles);
    font-weight: 400;
    color: var(--white);
}


h3,
h4 {
    font-family: var(--font-texts);
    font-weight: 700;
    color: var(--white);
}


p, 
span {
    font-family: var(--font-texts);
    font-weight: 400;
    color: var(--white);
    max-width: 60ch;
}



/* 
    ==================

    ----- Header -----

    ==================
*/ 


.header {
    position: relative;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.header--top {
    padding: 1.6rem 2.4rem;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}


.header--title {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: -1px;
    cursor: pointer;
}

.header--top i {
    height: 1.7rem;
    cursor: pointer;
    width: 2.4rem;
    background: url('../public/resources/icon-hamburger.svg') no-repeat center /cover;
}

.header--top i.open {
    opacity: .5;
}

.header--bottom {
    display: none;
}

@media (max-width: 768px) {

    .header--top {
        justify-content: space-between;
    }

    .header--bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        place-items: center;
        border-bottom: 1px solid var(--border-color);
    }
}


@media (min-width: 768px) {
    .header--top i {
        display: none;
    }
}


.subtitle--big {
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 2.6px;
    cursor: pointer;
    display: grid;
    place-items: center;
    height: calc(100% - 4px);
    margin-top: 4px;
    align-self: center;
}

.header--bottom h3 {
    --item-border: var(--black);
    border-bottom: 4px solid var(--item-border);
}






/* 
    ========================

    ----- Header Aside -----

    ========================
*/ 

.header--aside {
    --header--top--height: 8rem;
    position: absolute;
    min-width: 100vw;
    top: var(--header--top--height);
    min-height: calc(100vh - var(--header--top--height));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 8rem);
    padding: 1rem 2.4rem 2.4rem;
    transform: translateX(-100%);
}


.header--aside.open {
    transform: translateX(0%);
}

.aside--container:first-of-type {
    border-top: none;
}


.aside--container {
    display: grid;
    grid-template-columns: 2fr 9fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
    height: 100%;
    background-color:  transparent;
    border-top: 1px solid var(--border-color);
    cursor: pointer;
}

.aside--container .aside--planet {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.aside--name {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1.3px;
}

.aside--container .arrow {
    width: 1.2rem;
    height: 1.2rem;
    background: url('../public/resources/icon-chevron.svg') no-repeat center /cover;
}







/* 
    ======================

    ----- Header Nav -----

    ======================
*/ 


.header--nav {
    display: none;
}

@media (min-width: 768px) {


    .header--nav {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        place-items: center;
        border-bottom: 1px solid var(--border-color);
    }

    .header--nav h3 {
        --item-border: var(--black);
        border-bottom: 4px solid var(--item-border);
    }
}








/* 
    ================

    ----- Main -----

    ================
*/ 


.main {
    max-width: 100vw;
    margin: 0 auto 4.7rem;
}


@media (min-width: 768px) {
    .main {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }
}


@media (min-width: 1440px) {
    .main {
        max-width: 100%;
        margin: 0 auto 4.7rem;
    }   
}


.planet--image {
    width: 100%;
    height: 32rem;
    display: grid;
    place-items: center;
    position: relative;
}



/* 
    ========================================

    ----- Main - "Description Section" -----

    ========================================
*/


.main--description {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 28rem;
    margin: 3.4rem 3.4rem;
}

.main--title {
    font-size: 5rem;
    line-height: 6.5rem;
    margin-bottom: 1.5rem;
}


.text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--light-gray);
}

.main--title + .text {
    margin-bottom: 2rem;
}

.text--link {
    color: var(--light-gray);
    font-weight: bold;
    font-family: inherit;
    font-size: 1.5rem;
    position: relative;
}

.link--icon {
    position: absolute;
    right: -20px;
    bottom: 0;
    background: url('../public/resources/icon-source.svg') no-repeat center /cover;
    height: 1.5rem;
    width: 1.5rem
}


@media (min-width: 768px) {

    .main--description {
        display: grid;
        grid-template-areas: 
            "image image"
            "description nav";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 46rem 36rem;
        padding: 0 3.9rem;
    }

    .planet--image {
        grid-area: image;
        place-self: center;
    }

    .info--container {
        grid-area: description;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }

    .text {
        text-align: left;
    }
    
    .navigation {
        grid-area: nav;
        align-self: center;
        justify-self: end;
        min-width: 28rem;
    }
}




@media (min-width: 1440px) {

    .main--description {
        display: grid;
        grid-template-areas: 
            "image description"
            "image nav";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 44rem 30rem;
        padding: 0 3.9rem;
    }

    .info--container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 2.3rem;
        max-width: 35rem;
        margin: 0 auto;
    }

    .text {
        font-size: 1.6rem;
        line-height: 2.7rem;
        text-align: left;
    }
    
    .navigation {
        place-self: center;
        min-width: 35rem;
    }
}



/* 
    ======================

    ----- Navigation -----

    ======================
*/ 



@media (max-width: 768px) {
    .navigation {
        display: none !important;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

button {
    --bg-color: inherit;
    display: flex;
    color: var(--white);
    background-color: var(--bg-color);
    border: 1px solid var(--dark-gray);
    display: flex;
    align-items: center;
    min-width: 28rem;
    min-height: 4rem;
    cursor: pointer;
}

.button--content,
.button--content .number {
    line-height: 2.5rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    font-family: var(--font-texts);
    font-size: 1.2rem;
}

.button--content .number {
    margin: 0 2rem;
}






/* 
    =================================

    ----- Main - "Data Section" -----

    =================================
*/


.main--data {
    padding: 0 2.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}


.data--container {
    min-height: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem;
    border: 1px solid var(--border-color);

}

.data--title {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.75px;
    opacity: .5;
}


.data--value {
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: -0.75px;
}



@media (min-width: 768px) {

    .main--data {
        width: 100%;
        padding: 0 3.9rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        max-width: 1340px;      /* cambiar para que sea acorde al resto */
        margin: 0 auto;
    }

    .data--container {
        min-height: 8.8rem;
        min-width: 16.5rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.6rem 0 1.6rem 1.6rem;
    }

    .data--title {
        font-size: 1.2rem;
    }

    .data--value {
        font-size: 2.4rem;
        line-height: 3.1rem;
        letter-spacing: -0.9px;
    }
}


@media (min-width: 1440px) {


    .main--data {
        width: 100%;
        padding: 0 3.9rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .data--container {
        min-height: 12.8rem;
        min-width: 25.5rem;
        padding: 2rem 0 2.3rem 1.6rem;
    }

    .main--title {
        font-size: 8rem;
        line-height: 10.3rem;
    }

    .data--title {
        font-size: 1.1rem;
        line-height: 2.5rem;
        letter-spacing: 1px;
    }   

    .data--value {
        font-size: 4rem;
        line-height: 5.2rem;
        letter-spacing: -1.5px;
    }
}







/* 
    ===================
    
    ----- Helpers -----

    ===================
*/


.vanish {
    display: none;
}




/* 
    =========================
    
    ----- Planets Sizes -----

    =========================
*/

.geology--img {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12rem;
    width: 12rem;
    top: 60%;
    left: calc(50% - 5rem);
}



img[data-url="mercury"] {
    width: 11.1rem;
    height: 11.1rem;
}

img[data-url="venus"] {
    width: 15.4rem;
    height: 15.4rem;
}

img[data-url="earth"] {
    width: 17.3rem;
    height: 17.3rem;
}

img[data-url="mars"] {
    width: 12.9rem;
    height: 12.9rem
}

img[data-url="jupiter"] {
    width: 22.4rem;
    height: 22.4rem;
}

img[data-url="saturn"] {
    width: 25rem;
    height: 25rem;
}

img[data-url="uranus"] {
    width: 17.6rem;
    height: 17.6rem;
}

img[data-url="neptune"] {
    width: 17.3rem;
    height: 17.3rem;
}

@media (min-width: 768px) {
    img[data-url="mercury"] {
        width: 28.5rem;
        height: 28.5rem;
    }

    img[data-url="venus"] {
        width: 21.3rem;
        height: 21.3rem;
    }

    img[data-url="earth"] {
        width: 38.5rem;
        height: 38.5rem;
    }

    img[data-url="mars"] {
        width: 21.3rem;
        height: 21.3rem;
    }

    img[data-url="jupiter"] {
        width: 36.9rem;
        height: 36.9rem;
    }

    img[data-url="saturn"] {
        width: 42.2rem;
        height: 42.2rem;
    }

    img[data-url="uranus"] {
        width: 29rem;
        height: 29rem;
    }

    img[data-url="neptune"] {
        width: 28.5rem;
        height: 28.5rem;
    }
}






/* 
    ===============================
    
    ----- Planet Aside Colors -----

    ===============================
*/




[data-planet="mercury"] {
    background-color: var(--mercury); 
}

[data-planet="venus"] {
    background-color: var(--venus); 
}

[data-planet="earth"] {
    background-color: var(--earth); 
}

[data-planet="mars"] {
    background-color: var(--mars); 
}

[data-planet="jupiter"] {
    background-color: var(--jupiter); 
}

[data-planet="saturn"] {
    background-color: var(--saturn); 
}

[data-planet="uranus"] {
    background-color: var(--uranus); 
}

[data-planet="neptune"] {
    background-color: var(--neptune); 
}







/* 
    =========================
    
    ----- Border Colors -----

    =========================
*/

.header--nav h3:hover,
.header--bottom h3:hover {
    --item-border: var(--light-gray);
}

.header--nav h3[data-color="mercury"],
.header--bottom h3[data-color="mercury"] {
    --item-border: var(--mercury); 
}

.header--nav h3[data-color="venus"],
.header--bottom h3[data-color="venus"] {
    --item-border: var(--venus); 
}

.header--nav h3[data-color="earth"],
.header--bottom h3[data-color="earth"] {
    --item-border: var(--earth); 
}

.header--nav h3[data-color="mars"],
.header--bottom h3[data-color="mars"] {
    --item-border: var(--mars); 
}

.header--nav h3[data-color="jupiter"],
.header--bottom h3[data-color="jupiter"] {
    --item-border: var(--jupiter); 
}

.header--nav h3[data-color="saturn"],
.header--bottom h3[data-color="saturn"] {
    --item-border: var(--saturn); 
}

.header--nav h3[data-color="uranus"],
.header--bottom h3[data-color="uranus"] {
    --item-border: var(--uranus); 
}

.header--nav h3[data-color="neptune"],
.header--bottom h3[data-color="neptune"] {
    --item-border: var(--neptune); 
}





/* 
    ======================
    
    ----- Nav Colors -----

    ======================
*/

button:hover,
button:focus {
    --bg-color: var(--dark-gray);
}


button[data-color="mercury"] {
    --bg-color: var(--mercury); 
}

button[data-color="venus"] {
    --bg-color: var(--venus); 
}

button[data-color="earth"] {
    --bg-color: var(--earth); 
}

button[data-color="mars"] {
    --bg-color: var(--mars); 
}

button[data-color="jupiter"] {
    --bg-color: var(--jupiter); 
}

button[data-color="saturn"] {
    --bg-color: var(--saturn); 
}

button[data-color="uranus"] {
    --bg-color: var(--uranus); 
}

button[data-color="neptune"] {
    --bg-color: var(--neptune); 
}